.projects {
    padding: 40px;
    margin: 30px 0;
    border-radius: 15px;
    text-align: center;
}

.projects h2 {
    color: var(--primary-color); /* Blue-purple */
    font-family: 'MinhaFonte', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 0 2px 5px var(--shadow-color);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.project-item {
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    color: var(--text-color);
    padding: 14px;
    margin-top: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px var(--shadow-color);
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px var(--primary-color); /* Neon glow on hover */
}

.project-item h3 {
    color: var(--primary-color); /* Neon blue */
    margin-bottom: 10px;
}

.project-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-item p {
    color: #b0b0b0;
    margin-bottom: 15px;
}

.project-link {
    color: var(--primary-color); /* Blue-purple */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.project-link:hover {
    color: var(--hover-color); /* Lighter blue-purple */
}

.project-buttons{
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    width: 98%;
    background-color: #00cc0000;
    border: #0000001f solid;
    box-shadow: rgba(255, 255, 255, 0.359) 0px 0px 3px 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.project-buttons button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 255, 255, 0);
    border: none;
    color: var(--secondary-color);
    width: 49%;
    margin-left: 0.5%;
    height: 10vh;
    border-radius: 10px;
    font-size: 2.5vh;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.15s ease-in-out;
}

.project-buttons button img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 10px;;
}

.projects button:hover {
    background-color: var(--hover-color);
    color: var(--background-color);
    transform: scale(1.01); /* Crescimento bem sutil */
}

.projects button.active {
    background-color: var(--secondary-color); 
    color: var(--background-color);
}

.project-buttons button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.button-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.skills-list {
    animation: slideIn 0.5s ease-in-out;
}

.skills-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 20px; /* Espaçamento dinâmico entre os itens */
}

.skills-list li {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.41), #3a3a3a7d); /* Vibrant gradient */
    color: var(--text-color);
    padding: 20px;
    margin: 0;
    border-radius: 20px; /* More rounded corners */
    font-size: 1.1em; /* Slightly larger font size */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px var(--skills-shadow); /* Light shadow */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Consistent spacing between image and text */
}

.skills-list li:hover {
    transform: translateY(-10px); /* Elevation effect */
    box-shadow: 0 12px 24px var(--skills-hover-shadow); /* More intense shadow */
    background: linear-gradient(135deg, #3a3a3a7d, rgba(0, 0, 0, 0.41)); /* Invert gradient on hover */
}

.skills-list img {
    width: 90px; /* Tamanho um pouco maior */
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-list li:hover img {
    transform: rotate(15deg) scale(1.2); /* Rotação e aumento dinâmicos */
}

.skills-list p {
    margin: 10px 0 0;
    font-size: 1em;
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 0.5px;
}

.skills-list li:hover p {
    text-shadow: 0 2px 4px var(--skills-text-shadow);
    color: var(--medium-gray); /* Medium gray */
}

.language-placeholder {
    margin-top: 20px;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 10px;
    color: var(--text-color);
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 4px 10px var(--shadow-color);
}

.logo-site {
    width: 10vh;
    height: 10vh;
    margin-right: 20px;
    vertical-align: middle;
}